<body>
    <div>
        <router-outlet></router-outlet>
    </div>
</body>
<!-- footer-begin -->

<footer id="footer" class="page-footer font-small indigo">
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-md-3 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Products</h5>
                <ul>
                    <li>Car Insurance </li>
                    <li>Bike Insurance</li>
                </ul>

            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-3 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Board of Directors</h5>
                <ul>
                    <li> Shefali </li>
                    <li> Nischala</li>
                    <li> Nikhil</li>
                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-3 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">contact Us</h5>
                <ul>
                    <li><i class="fa fa-sm fa-envelope"></i>ThinkCrew.vehicle.insurance@gmail.com</li>

                    <li><i class="fa fa-phone fa-lg"></i> +91-8764978345</li>
                </ul>

            </div>

        </div>
    </div>

    <div class="footer-copyright text-center text-dark py-3">
        © 2020 Copyright: <b class="ThinkCrew-primary-color">ThinkCrew Vehicle Insurance Pvt. Ltd.</b>
    </div>
</footer>

<!-- footer-end -->