.ThinkCrew-primary-color {
    color: #513992;
}

.img {
    left: 100px;
    margin-left: 30%;
}

#footer {
    background: rgb(250, 249, 249);
    width: 100%;
    height: 200px;
    bottom: 0;
    left: 0;
}

.logo {
    height: 50px;
    width: 70px;
    object-fit: cover;
}

.img1 {
    width: 600px;
    height: 200px;
    left: 100px;
    margin-left: 30%;
    object-fit: cover;
}

.home:hover {
    padding: 6px;
    border-radius: 4px;
    display: block;
    background-color: #513992;
    color: white;
}

.background-color {
    background-color: rgb(250, 250, 250);
}
.aligning{
    margin-top:10.5%;

}
.background{
    background-color: #ffffff;
}
