<nav class="navbar fixed-top" style="background-color: #ffffff; ">
    <div>
        <div class="d-inline px-4">
            <img src="../assets/logo.png" height="45px">
        </div>

        <div class="d-inline px-3 home ThinkCrew-primary-color " (click)="footerscroll()">
            <b>About</b>
        </div>
        <div class="d-inline px-3 ThinkCrew-primary-color home" (click)="home()">
            <b>Home</b>
        </div>
    </div>
    <div>
        <div *ngIf="logindetails.isLogged" class="d-inline px-3 ThinkCrew-primary-color home" hidden (click)="dashboard()">
            <b>Dashboard</b>
        </div>
        <div *ngIf="logindetails.isLogged" class="d-inline px-3">
            <button class="btn btn-outline-success  btn-sm mxy-0 my-sm-0" (click)="loginout()" hidden>{{this.loginoutBtn}}</button>
            <button class="btn btn-outline-danger  btn-sm mxy-0 my-sm-0" (click)="loginout()">{{this.loginoutBtn}}</button>
        </div>
        <div *ngIf="!(logindetails.isLogged)" class="d-inline px-3">
            <button class="btn btn-outline-success  btn-sm mxy-0 my-sm-0" (click)="loginout()">{{this.loginoutBtn}}</button>
        </div>
        <div class="d-inline px-3 ThinkCrew-primary-color home " (click)="help()">
            <b>Help</b>
        </div>
    </div>
</nav>
<div class="banner bgColor">
    <br>
    <h3 class="font-weight text-center textColor">Plans for your vehicle</h3>
    <div class="container ">
        <div class="row aligning">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="card text-left effect">
                    <div class="card-body">
                        <div class="row ">
                            <div class="col-md-8 col-sm-8">
                                <h4 class="card-title font-weight textColor">Third Party Plan</h4>
                                <p class="card-text">It reimburses the third-parties for losses/damages caused by the insured Vehicle.
                                </p>
                            </div>
                            <div class="col-md-4 col-sm-8">
                                <img src="../assets/car-run-over-man.png" height="50" width="50" alt="icon">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <br>
                                <input type="radio" name="three_year" id="three_year" value="third 3 year" checked [(ngModel)]="plan" />
                                <label>3 year plan<small>(25% discount)</small></label>
                            </div>
                            <div class="col-md-4">
                                <br>
                                <p><b>{{ insurancePlans.thirdYear3 | currency:'INR' }} </b></p>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-8">
                                <input type="radio" name="three_year" id="two_year" value="third 2 year" [(ngModel)]="plan" />
                                <label>2 year plan<small>(10% discount)</small></label>
                            </div>
                            <div class="col-md-4">
                                <p><b>{{ insurancePlans.thirdYear2 | currency:'INR' }}</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <input type="radio" name="three_year" id="one_year" value="third 1 year" [(ngModel)]="plan" />
                                <label>1 year plan</label>
                            </div>
                            <div class="col-md-4">
                                <p><b>{{ insurancePlans.thirdYear1 | currency:'INR' }}</b></p>
                            </div>
                        </div>
                        <br>
                        <button (click)="buy()" type="button" class="btn btn-outline-success">Buy Now</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="card text-left effect">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8 col-sm-8">
                                <h4 class="card-title textColor font-weight">Comprehensive Plan</h4>
                                <p class="card-text">It offers extensive coverage that covers Third-party Liabilities and Own Damage
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <br>
                                <input type="radio" name="three_year" id="three_year" value="compre 3 year" [(ngModel)]="plan" />
                                <label>3 year plan<small>(25% discount)</small></label>
                            </div>
                            <div class="col-md-4">
                                <br>
                                <p><b>{{ insurancePlans.compreYear3 | currency:'INR' }}</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <input type="radio" name="three_year" id="two_year" value="compre 2 year" [(ngModel)]="plan" />
                                <label>2 year plan<small>(10% discount)</small></label>
                            </div>
                            <div class="col-md-4">
                                <p><b>{{insurancePlans.compreYear2 | currency:'INR'}}</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <input type="radio" name="three_year" id="one_year" value="compre 1 year" [(ngModel)]="plan" />
                                <label>1 year plan</label>
                            </div>
                            <div class="col-md-4">
                                <p><b> {{ insurancePlans.compreYear1 | currency:'INR' }} </b></p>
                            </div>
                        </div>
                        <div>
                            <br>
                            <button (click)="buy()" type="button" class="btn btn-outline-success">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="backalign" onclick="history.back()"><i class="fa fa-chevron-left ThinkCrew-primary-color" aria-hidden="true"></i></div>
        </div>
    </div>
</div>