.ThinkCrew-primary-color {
    color: #513992;
}

.img {
    left: 100px;
    margin-left: 30%;
}

#footer {
    background: rgb(250, 249, 249);
    width: 100%;
    height: 200px;
    bottom: 0;
    left: 0;
}

.logo {
    height: 50px;
    width: 70px;
    object-fit: cover;
}

.img1 {
    width: 600px;
    height: 200px;
    left: 100px;
    margin-left: 30%;
    object-fit: cover;
}

.home:hover {
    padding: 6px;
    border-radius: 4px;
    display: block;
    background-color: #513992;
    color: white;
}

.textColor {
    color: #513992;
}

.align {
    margin-top: 60px;
    font-size: medium;
    color: #513992
}

.bgColor {
    background-color: rgb(250, 250, 250);
    height: 660px;
    width: 100%;
    margin-top: 0%;
}

.aligning {
    margin-left: 35%;
    margin-top: 4%;
}

.margin1 {
    margin-top: 10%;
}

.button-align {
    margin-top: 5%;
    align-content: center;
    margin-left: 42%;
}